.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.body{
   display: flex;
   flex-direction: column;
   background-color: #fff9e9;
   font-family: Geneva, sans-serif;
   height: 100vh;
}

.navbar{
   background-color: #add8e6;
   font-size: 24px;
   height: 15vh
}

.transactions{
   background-color: lightsalmon;
   font-weight:normal;
   font-size: 24px;
   height: 75vh;
}

.footer{
   background-color: lightslategray;
   height: 10vh;
}

.logo{
   height: 12vh;
}

.category{
   border: 2px solid black;
}

.tableHeader{
   background-color: lightcoral;
}

.ID{
   width: 65px;
   margin: 10px;
}

.categ{
   width: 136px;
   margin: 10px;
}

.supplier{
   width: 130px;
   margin: 10px;
}

.location{
   width: 132px;
   margin: 10px;
}

.description{
   width: 136px;
   margin: 10px;
}

.tableStriped{
   background-color: lightsteelblue;
}

.btn-nt{
   background-color: lightskyblue;
   border-radius: 8px;
}

.btn-upd{
   background-color: lightyellow;
   border-radius: 8px;
}

.btn-del{
   background-color: lightpink;
   border-radius: 8px;
}

/* .btn{
   font-weight: 100;
} */

.overflow{
   height: 57.7vh;
   overflow:auto;
}

.dashboard{
   background-color: lightgreen;
   font-weight:normal;
   font-size: 24px;
   height: 75vh;
}

.products{
   width: 230px;
   height: 140px
}

.categories{
   width: 216px;
   height: 140px
}

.locations{
   width: 230px;
   height: 140px
}





.text-input-field{
   max-width: 200px;
}

.number-input-field{
   max-width: 100px;
}

.error-field{
   border: 1px solid red !important;
}

.errorMessage{
   color: red;
   font-size: 12px;
}

.hasMove{
   background-color: #282c34;
   color: #ccc;
}